@yellow: #ffe26d;
@theme-color: #b4282d;
@button-tab-border-color: #ccc;
@button-tab-active-background-color: @yellow;
@button-tab-active-font-color: #000;

@switch-checked-bg-color: @yellow;
@switch-checked-border-color: @yellow;

@number-button-font-color: #b4282d;
@number-round-button-enabled-border-color: #b4282d;

@swiper-indicator-active-color: #b4282d;

@checklist-icon-active-color: #b4282d;

@tab-text-active-color: #b4282d;
@tab-bar-active-color: #b4282d;
@tabbar-text-active-color: #b4282d;

@dialog-button-text-primary-color: #b4282d;

@form-preview-button-primary-color: #b4282d;


@toast-position-top-offset: 56px;
@toast-position-bottom-offset: 60px;

// @search-cancel-font-color: #b4282d;
@search-cancel-font-color: #333;

@radio-checked-icon-color: #b4282d;

@calendar-arrow-color: #c0c0c0;

// site varibles
// -------------------------------------------------------
@tag-color: #f48f18;

@desc-text: #666;
